@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.nav-link {
  @apply text-gray-600 hover:text-blue-600 font-medium;
}

.btn-outline {
  @apply px-3 py-2 border border-blue-600 text-blue-600 rounded-lg hover:bg-blue-50;
}

.btn-primary {
  @apply px-3 py-2 bg-emerald-600 text-white rounded-lg hover:bg-emerald-700;
}

.btn-danger {
  @apply px-3 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600;
}

.mobile-link {
  @apply block text-gray-700 font-medium;
}

.mobile-btn-outline {
  @apply block w-full text-center border border-blue-600 text-blue-600 rounded-lg py-2;
}

.mobile-btn-primary {
  @apply block w-full text-center bg-emerald-600 text-white rounded-lg py-2;
}

.mobile-btn-danger {
  @apply block w-full bg-red-500 text-white rounded-lg py-2;
}

/* ---------- Form Base Styles ---------- */

.label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

.input {
  @apply w-full rounded-xl border border-gray-300 
  bg-gray-50 px-4 py-2 text-sm 
  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
  transition;
}

.input::placeholder {
  @apply text-gray-400;
}

/* ---------- Disabled ---------- */
.input:disabled {
  @apply bg-gray-100 cursor-not-allowed;
}
